h3{

}
.post{
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    padding: 0% 2% 2% 2%;

  }
  .post-button{
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .name{
    margin-bottom: 0px;
  }
  .post-body{
    margin: 0px 2px;
  }
  .like{
    background-image: url(/public/ThumbsUp.png);
  }
  .active-like{
    background-image: url(/public/GreenThumbsUp.png);
  }
  .dislike{
    background-image: url(/public/ThumbsUp.png);
    transform: scaleY(-1);
  }
  .active-dislike{
    background-image: url(/public/RedThumbsUp.png);
    transform: scaleY(-1);
  }
  .button-container{
    display: flex;
    justify-content: flex-end;
  }
  .post-header{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
  }
  .date{
    font-size: 10px;
    padding-bottom: 1px;
  }


